<% set_tab :"chan_#{@channel.id}" %>
<h1><%= @channel.name %></h1>
<div id="chan_banner">
<%= @channel.banner %>
</div>
<div id="status">
</div>
<div id="videoTitle"></div>
<div id="videoContainer">
	<div id="overlaycanvas">
	</div>
	<div id="video">
	</div>
</div>
<div id="playlistContainer">
	<div id="playlist">
	</div>
	<div id="playlistEntry">
		<input id="playlistEntryBox" name="url" value="" type="text" tabindex="1" class="medium" size="50"/>
	</div>
</div>
<div class="clear"></div>
<div id="chat">
<ul id="userList">
</ul>
<div id="chatInner">
<div id="messages">
</div>
<div id="messageEntry">
	<input id="messageEntryBox" name="message" value="" type="text" tabindex="1" class="medium" size="50"/>
</div>
</div>
</div>
<div id="chan_footer">
<%= @channel.footer %>
</div>
<div id="debug">
</div>
<script type="text/javascript">Tube.setChannel(<%= @channel.to_info.to_json %>);</script>