<h1><%= @channel.name %></h1>
<div id="status">
</div>
<div id="videoContainer">
	<div id="video">
	</div>
</div>
<div id="playlistContainer">
	<div id="playlist">
	</div>
	<div id="playlistEntry">
		<input id="playlistEntryBox" name="url" value="" type="text" tabindex="1" class="medium" size="50"/>
	</div>
</div>
<div id="chat">
<ul id="userlist">
</ul>
<div id="chatInner">
<div id="messages">
</div>
<div id="messageEntry">
	<input id="messageEntryBox" name="message" value="" type="text" tabindex="1" class="medium" size="50"/>
</div>
</div>
</div>
<div id="debug">
</div>
<script type="text/javascript">Tube.current_channel = <%= @channel.id %>;</script>