<% set_tab :"home" %>
<form accept-charset="UTF-8" action="/auth" enctype="multipart/form-data" id="login" method="post">
<div id="normal_login" class="inner" style="display:block">
	<div id="loginUsernameField">
	<label for="loginUserName">Username</label>
	<input id="loginUserName" name="name" value="" type="text" tabindex="1" class="medium" size="30"/>
	</div>
	<div id="loginPasswordField">
	<label for="loginPasswordField">Password</label>
	<input id="loginPasswordField" name="password" value="" type="password" tabindex="2" class="medium" size="30"/>
	</div>
	<div id="loginCustom">
	</div>
</div>
<div id="dialogSubmit">
	<button class="submit" type="submit">Login</button>
</div>
</form>